@import 'preset';

h1 {
  color: rgb(207, 232, 245);
  font-size: 1.4em;
  text-transform: uppercase;
}

.input {
  outline: none;
}

.gradient--green {
  color: #fff;
  text-shadow: 2px 2px 2px rgba(31, 171, 206, 0.5);
box-shadow: 0px 33px 58px -30px rgba(13,159,216,1);
background: linear-gradient(135deg, #43cdc0 0%,#009ec3 100%);
}

.main {
  background: #fcfdff;

  width: 100vw;

  height: 100vh;

  display: flex;
  flex-direction: column;
}

.search-page {
  display: flex;
  height: 100vh;
  width: 80vh;
  align-self: center;
}

.search-box {
//   align-items: center;
// display: flex;
// justify-content: center;
//   margin-top: 20%;
}

.search-box .input {
  border: none 0;
}