body {
  color: #182641;
}

.mark--info {
  color: #54b30f;
}

.logotype {
  text-align: center;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 2.2em;
}

.time {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 300;
}