::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #f1f7e0;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.button {
  cursor: pointer;
  border: 1px solid #152849;
  display: inline;
  padding: 12px 22px;

  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 500;
  font-size: 1.3em;
  color: #54b30f;

  transition: all 100ms ease-in-out;

  &:hover {
    color: #f2f8e2;
    background-color: #182641;
    border-color: #182641;
  }
}

.button--submit {
  align-self: flex-end;
}

.counter {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;

  .counter__label {
    text-transform: uppercase;
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: 500;
    font-size: 0.8em;
    color: #152849;
  }

  .count {
    padding-left: 16%;
    margin-right: 26%;
    font-size: 2em;
    color: #54b30f;
    text-align: right;
  }
}

.details-block {
  margin: 16px 0;
}

.table {
  padding: 3%;
  padding-bottom: 0;

  .table__header {
    margin-bottom: 20px;

    .table__row {
      border-bottom: none 0;
    }

    .table__row--header {
      &:hover {
        background-color: transparent;
      }
    }

    .row__column {
      display: flex;
      justify-content: center;
      align-items: center;

      &:first-child {
        justify-content: left;
      }

      .row__cell--header {
        font-family: 'IBM Plex Mono' !important;
        font-style: normal;
        font-weight: 700;
        color: #55aa26;
        text-transform: uppercase;
      }
    }
  }

  .table__row {
    display: grid;
    grid-template-columns: 3fr repeat(3, 1fr);
    grid-column-gap: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #d1e1c9;
    justify-content: center;
    align-items: center;

    transition: all 100ms ease-in-out;

    &:nth-child(even) {
      background-color: #f4f7eb;
    }

    &:hover {
      background-color: #deecb4;
      border-bottom-color: #ffffff;
    }

    .row__column {
      text-align: center;

      padding: 3px;

      &:first-child {
        text-align: left;
      }

      .row__cell {
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 400;
      }
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 3% 0;

  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 500;

  .page--active {
    font-size: 1.3em;
    color: #55aa26;
  }

  .page {
    flex-direction: row;
    justify-content: center;
  }
}