@import 'preset';
@import 'fonts/IBM-Plex/ibm-plex';
@import "form";
@import "typography";
@import "icons";
@import "ui";

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.template-area {
  height: 100vh;
  display: grid;
  align-items: center;
  grid-template-columns: 0.1fr 1fr 0.2fr 2fr 0.4fr 4fr;
  grid-template-areas:
          ". information . search-form . search-result";
}

.information {
  display: flex;
  flex-direction: column;
  grid-area: information;

  .information__header {
    border-bottom: 1px solid #152849;
    padding-bottom: 8px;
    width: 100%;
  }
}

.search-form {
  grid-area: search-form;
  margin-top: -12px;

  .search-form__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.search-result {
  display: flex;
  align-items: center;
  grid-area: search-result;
  //border: 1px solid #54b30f;
}

