@import 'preset';
@import 'fonts/IBM-Plex/ibm-plex';
@import "form";
@import "typography";
@import "icons";
@import "ui";

main {
  display: flex;
  flex-direction: column;
  //height: 100vh;
  //width: 100vw;
}

.template-area {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas:
    ". search-form ."
    ". search-result .";
}

.search-form {
  align-self: center;
  grid-area: search-form;

  .form__details {
    padding: 6% 0;
    display: flex;
    justify-content: space-between;
  }

  .last-update-time {
    display: inline-block;
    margin-bottom: 13px;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 0.7em;
  }
}

.search-result {
  grid-area: search-result;
  border: 1px solid #54b30f;
}

