@import 'stylesheets/fonts/ibm-plex';
@import 'stylesheets/preset';

.mark--info {
  color: #54b30f;
}

.logotype {
  text-align: center;

  font-family: "IBM Plex Mono SemiBold";
  font-style: normal;
  font-weight: 700;
  font-size: 2.2em;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: grid;
  grid-template-columns: 2fr 4fr 3fr;
  color: #182641;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.search-form {
  border: 1px solid #152849;
  display: flex;
  min-height: calc(100vh / 5);

  margin: 6%;
  padding: 6%;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    border-color: #54b30f;
  }
}

.form-input__header {
  font-family: "IBM Plex Mono Light";
  font-style: normal;
  font-weight: 300;
  font-size: 0.8em;
}