$icons-prefix: '../images/icons' !default;

.icon {
  background-color: #152849;
}

.search__icon {
  width: 16px;

  height: 16px;

  -webkit-mask: url("#{$icons-prefix}/magnifying_glass.svg") no-repeat;
          mask: url("#{$icons-prefix}magnifying_glass.svg");
}
