::selection {
  background-color: #f2f8e2;
}

::-webkit-scrollbar {
  background: transparent;

  width: 12px;

  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: #f1f7e0;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

* {
  box-sizing: border-box;
  font-kerning: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  font-family: sans-serif;

  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}