@import 'preset';
@import 'fonts/IBM-Plex/ibm-plex';
@import "form";
@import "typography";
@import "icons";
@import "ui";

main {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.main-search {
  display: grid;
  grid-template-columns: 2fr 4fr 3fr;
}

.search-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 600px;
  height: 100vh;

  padding: 6%;

  .search-area__block {
    width: 90%;
    margin: 5%;
  }
}

