@import 'preset';
@import 'fonts/IBM-Plex/ibm-plex';
@import "form";
@import "typography";
@import "icons";
@import "ui";
//
//::selection {
//  background-color: #f2f8e2;
//}
//
//.button {
//  cursor: pointer;
//  border: 1px solid #152849;
//  display: inline-block;
//  padding: 3% 5%;
//
//  font-family: 'IBM Plex Mono';
//  font-style: italic;
//  font-weight: 500;
//  font-size: 1.3em;
//  color: #54b30f;
//
//  &:hover {
//    color: #f2f8e2;
//    background-color: #182641;
//    border-color: #182641;
//  }
//}
//
//.mark--info {
//  color: #54b30f;
//}
//
//.icon {
//  background-color: #152849;
//}
//
//.search__icon {
//  -webkit-mask: url("../images/icons/magnifying_glass.svg");
//
//  mask: url("../images/icons/magnifying_glass.svg");
//
//  width: 16px;
//  height: 16px;
//}
//
//.logotype {
//  text-align: center;
//  font-family: 'IBM Plex Mono';
//  font-style: normal;
//  font-weight: 700;
//  font-size: 2.2em;
//}
//
//.content {
//  display: flex;
//  flex-direction: column;
//  height: 100vh;
//}
//
//.main {
//  display: grid;
//  grid-template-columns: 2fr 4fr 3fr;
//  color: #182641;
//}
//
//.search-area {
//  display: flex;
//  flex-direction: column;
//  justify-content: center;
//  align-items: center;
//  min-height: 600px;
//  height: 100vh;
//  padding: 6%;
//}
//
//.search-form {
//  border: 1px solid #152849;
//  display: flex;
//  flex-direction: column;
//
//  padding: 6%;
//  justify-content: space-between;
//
//  &:hover {
//    border-color: #54b30f;
//  }
//}
//
//.form-input {
//
//  display: flex;
//  flex-direction: column;
//
//  .input__label {
//    font-family: "IBM Plex Mono";
//    font-style: normal;
//    font-weight: 300;
//    font-size: 0.8em;
//  }
//
//  .input-container {
//    border-bottom: 1px solid #152849;
//    display: flex;
//    align-items: center;
//    margin: 4% 0;
//    padding: 3% 0;
//
//    &:hover {
//      border-bottom-color: #54b30f;
//
//      .icon {
//        background-color: #54b30f;
//      }
//    }
//  }
//
//  .input-container input {
//    border: none;
//    outline: none;
//    width: calc(100% - 10px);
//    color: #54b30f;
//    font-family: 'IBM Plex Mono';
//    font-style: italic;
//    font-weight: 500;
//    font-size: 1.1em;
//  }
//
//  .input-container .icon {
//    margin-right: 10px;
//  }
//
//  .button--submit {
//    align-self: flex-end;
//    margin-bottom: 20%;
//    margin-top: 3%;
//  }
//}

main {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.main-search {
  display: grid;
  grid-template-columns: 2fr 4fr;

}

.search-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 600px;
  height: 100vh;

  padding: 6%;

  .search-area__block {
    width: 90%;
    margin: 5%;
  }
}

